<header>
    <div class="container">
        <div class="row">
            <h1>{{pageTitle}}</h1>
            <p><a href="/">Home</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/projects">Project</a> </p>
        </div>
    </div>
</header>